<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" style="width: 100%;">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Скидка</th>
            <th>Активный</th>
            <th>Редактировать</th>
            <th>Удалить/<br/>активировать</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Скидка</th>
            <th>Активный</th>
            <th>Редактировать</th>
            <th>Удалить/<br/>активировать</th>
        </tr>
        </tfoot>
        <tbody>
        {% for category in categories %}
            <tr {% if not category.available %} style="background:#d3d3d3"  {% endif %}>
                <td><a href="{% url 'admins:admins_category_update' category.id %}"
                       style="color: dodgerblue">{{ category.name }}</a>
                </td>
                <td>{{ category.description }}</td>
                <td>{{ category.discount }}</td>
                <td class="text-center">
                    {% if category.available %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'admins:admins_category_update' category.id %}">
                        {% csrf_token %}
                        <input class="btn btn-info form-control my-2" value="Редактировать"
                               type="submit">
                    </form>
                </td>
                <td>
                    <form id="update_cat_btn">
                        {% csrf_token %}
                        {% if category.available %}
                            <input name="{{ category.id }}" class="btn btn-secondary form-control my-2" value="Удалить">
                        {% else %}
                            <input name="{{ category.id }}" class="btn btn-success form-control my-2"
                                   value="Активировать">
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>