{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="text-center" style="padding-top: 70px;">
        <div style="color: darkcyan; background: #E0FFFF; padding: 20px" class="h2 text-center head">
            Ваши заказы,
            {% if user.first_name %}
                {{ user.first_name|title }}
            {% else %}
                Пользователь
            {% endif %}
        </div>
    </div>
    <div id="list_all_orders">
        {% include "ordersapp/includes/inc_orders_table.html" %}
    </div>
    <div class="container" style="display: flex; justify-content: space-around;">
        <form style="flex-grow: 1; padding:  0 20px 0;" action="{% url 'index' %}">
            <button type="submit" class="btn btn-info form-control my-2 ">
                <i class="fa fa-home"></i> На главную
            </button>
        </form>
        <form style="flex-grow: 1; padding:  0 20px 0;" action="{% url 'orders:create' %}">
            <button type="submit" class="btn btn-info form-control my-2 ">
                <i class="fa fa-plus"></i> Новый заказ
            </button>
        </form>
    </div>
{% endblock %}